@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Global Scope */
:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: black;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
}

img {
    max-width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0/ 10%),
                0 2px 2px rgb(0 0 0/ 6%),
                0 0px 2px rgb(0 0 0/ 7%);
}

.logo_container {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.location {
    width: 20px;
    height: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 2em;
    text-transform: uppercase;
    flex: 1;    /*note this*/
}

.navbar-right {
    display: flex;
    gap: 1em;
    align-items: center;
}

.navbar-right li:first-child .map, .map {         /*note this*/
    display: flex;
    align-items: center;
    gap: 0.5em;
}

a:hover {
    color: var(--color-primary);
}

/* Button */

.btn {
    cursor: pointer;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    text-align: center;
    color: #000;
    font-weight: 400;
}

.btn:hover, .button-order:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.navbar-right li:nth-child(3) .btn, 
.mobile-menu-bottom .btn:nth-child(2) {
    background-color: #000;
    color: #fff;
}

.navbar-right li:nth-child(3) .btn:hover,
.mobile-menu-bottom .btn:nth-child(2):hover {
    background-color: #333;
}

/* Hamburger Menu */

.hamburger {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
    transition: all 0.25s;
    display: none;
}

.top, .middle, .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.middle {
    transform: translateY(7px);
}

.bottom {
    transform: translateY(14px);
}

.open .top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .middle {
    display: none;
}

.open .bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 82px;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.open-menu {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.mobile-menu ul {
    line-height: 3;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px;
    margin: 0 0 30px;
}

.mobile-menu-bottom .btn {
    margin: 0 0 30px;
}

.no-scroll {
    overflow: hidden;
}

/* Box A */

.Box-A {
    max-width: 1440px;
    margin: 30px auto;
    background-color: var(--color-primary);
    text-align: center;
    color: #fff;
    padding: 20px;
}

.Box-A h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Box-A p a {
    color: #fff;
    text-decoration: underline;
}

/* Box B, C, D, E, F */

.Box-B, .Box-C, .Box-D, .Box-E, .Box-F {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-secondary);
    margin-bottom: 30px;
    align-items: center;
    gap: 2em;
    max-width: 1440px;
    margin: 30px auto;
}

.Box-F {
    align-items: flex-start;
    background: none;
    gap: 1em;
}

.Box-C .img-container, .Box-E .img-container {      /*note this*/
    order: 2;
}
.Box-D {
    background-color: var(--color-primary);
}

.content {
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 25px;
    letter-spacing: 6px;
   
    text-transform: uppercase;
}

.content p {
    line-height: 30px;
    margin-bottom: 20px;
}

.button-order {
    background: none;
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    color: white;
}

.inner-right {
    background-color: var(--color-primary);
    padding: 20px 0;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.inner-left {
    background-color: var(--color-extra);
    padding: 20px 0;
    text-align: center;
    color: var(--color-primary);
    padding: 50px 0;
}

.inner-left .button-order {
    border-color: #000;
    color: #000;
}
.inner-left h4, .inner-right h4 {
    font-weight: bolder;
}

.inner-left p, .inner-right p {
    font-size: 12px;
    margin-bottom: 15px;
}

footer {
    padding: 0 30px 30px;
}

footer p {
    font-size: 14px;
}

.inner-footer img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;
}

@media (max-width: 960px) {
    .Box-A h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .Box-B, .Box-C, .Box-D, .Box-E, .Box-F {
        grid-template-columns: 1fr;
    }
    .Box-C .img-container, .Box-E .img-container {
        order: 0;               /*note this*/
    }
    .navbar-left, .navbar-right {
        display: none;
    }
    .logo_container {
        width: 40px;
        height: 40px;
    }
    footer {
        text-align: center;
    }
}